<script>
    // var xhr = new XMLHttpRequest();
    // xhr.onreadystatechange = function () {
    //     if (xhr.readyState === 4) {
    //         document.getElementById('ajax').innerHTML = xhr.responseText;
    //     }
    // };
    // xhr.open('GET', 'responseblake');
    // xhr.send();



</script>

<div id="ajax">Message: </div>

<div class="col-md-9 no-h-pad">
    <div class="panel">
        <div class="panel-body">
            <div id='calendar' class="fc-theme"></div>
        </div>
    </div>
</div>



