<div class="single-container login-screen animated fadeInDown">
  <section class="sign-widget-title">
    <h1>Health<b>Tracker</b></h1>
    <h4>The first step to taking care of your health</h4>
  </section>
  <section class="sign-widget">
    <header>
      <h4>Login to Start tracking <b>your</b> health</h4>
    </header>

    <div class="body">
      <!--  no margin class-->
      <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "no-margin"}) do |f| %>

        <fieldset>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-envelope"></i>
              </span>
              <%= f.email_field :email, autofocus: true, class: "form-control", id: "email", placeholder: "Email" %>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon">
                <i class="fa fa-lock"></i>
              </span>
              <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "form-control", id: "password" %>
            </div>
          </div>
        </fieldset>

        <div class="form-actions">
          <button class="btn btn-block btn-primary" type="submit">
            <span class="fa-icon-circle">
              <i class="fa fa-sign-in"></i>
            </span>
            <small class="l-mar-5">Login</small>
          </button>
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

    <footer>
      <div class="twitter-login">
        <a href="index.html">
          <span>
            <i class="fa fa-twitter"></i>
            <span class="l-mar-5">Log in with Twitter</span>
          </span>
        </a>
      </div>
      <div class="facebook-login">
        <a href="index.html">
          <span>
            <i class="fa fa-facebook-official"></i>
            <span class="l-mar-5">Log in with Facebook</span>
          </span>
        </a>
      </div>
    </footer>

  </section>
</div>
