// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
ul#ui-id-1 {
    background-color: #F0F0F0;
    width: 5px;
    border-radius: 5px;
}