#new-appt {
	background: #416173;
	padding: 20px;
	font-size: 16px;
}

#new-appt label {
	color: #fff;
	font-size:18px;
}

#new-appt h2 {
	color: #fff;
}

#pending-events .draggable {
	margin-left: -8px;
	margin-right: 8px;
	box-shadow: 8px 8px 6px #222;
}


#checkups-badges {
	display: flex;
}
/*
#checkups-badges .checkup {
	width:25%;
}*/

