#new-appt {
	background: #416173;
	padding: 20px;
	font-size: 16px;
}

#new-appt label {
	color: #fff;
	font-size:18px;
}

#new-appt h2 {
	color: #fff;
}

#pending-events .draggable {
	margin-left: -8px;
	margin-right: 8px;
	box-shadow: 8px 8px 6px #222;
}


#checkups-badges {
	display: flex;
	justify-content: space-around;
}
/*
#checkups-badges .checkup {
	width:25%;
}*/

#status-prompt {
	padding: 80px 20px;
    background: #27D0B1;
    margin: 50px 10px !important;
}

#status-prompt h1 {
	color: #fff;
}

#status-prompt select, 
#status-prompt input[type="submit"] {
	width: 100%;
	margin:10px 0;
}

