<!-- <nav id="sidebar-nav" class="sidebar-nav">
    <div id="sidebar-wrapper" class="sidebar-wrapper" data-background="default">
        <component>sidebar-nav</component>
        <ul class="side-nav-top nav">
            <li class="sidebar-nav-logo">
                <component>sidebar-nav-logo</component>
                <img src="./../img/sidebar-logo.png" alt="Dee Admin">
                <span class="logo-text">
                    <b>Dash</b>Doc
                </span>
            </li>
            <% if user_signed_in? %>
            <li class="sidebar-nav-profile">
                <component>sidebar-nav-profile</component>
                <div class="profile-left">
                    <img src="<%= current_user.avatar.url %>" alt="<%= current_user.full_name %>">
                </div>
                <div class="profile-right">
                    <span class="name">
                        <%= current_user.first_name %><i id="user-profile-settings-toggler" class="fa fa-caret-down l-pad-5"></i>
                    </span>
                </div>
            </li>
            <% end %>
            <!-- Profile settings -->
            