<nav id="sidebar-nav" class="sidebar-nav">
    <div id="sidebar-wrapper" class="sidebar-wrapper" data-background="default">
        <component>sidebar-nav</component>
        <ul class="side-nav-top nav">
            <li class="sidebar-nav-logo">
                <component>sidebar-nav-logo</component>
                <img src="./../img/sidebar-logo.png" alt="Dee Admin">
                <span class="logo-text">
                    <b>Dash</b>Doc
                </span>
            </li>
            <% if user_signed_in? %>
            <li class="sidebar-nav-profile">
                <component>sidebar-nav-profile</component>
                <div class="profile-left">
                    <img src="<%= current_user.avatar.url %>" alt="<%= current_user.full_name %>">
                </div>
                <div class="profile-right">
                    <span class="name">
                        <%= current_user.first_name %><i id="user-profile-settings-toggler" class="fa fa-caret-down l-pad-5"></i>
                    </span>
                </div>
            </li>
            <% end %>
            <!-- Profile settings -->
            <li class="side-nav-profile-settings" style="display: none;">
                <ul class="inline-list">
                    <li>
                        <a id="right-notifier-toggler-3"
                           class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Notifications">
                            <i class="fa fa-bell-o"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Profile"
                           href="profile.html">
                            <i class="fa fa-user"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Inbox"
                           href="inbox.html">
                            <i class="fa fa-inbox"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Desktop">
                            <i class="fa fa-desktop"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Support">
                            <i class="fa fa-support"></i>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-white-hover mb-5"
                           data-placement="top"
                           data-toggle="tooltip"
                           data-original-title="Log out"
                           href="login.html">
                            <i class="fa fa-sign-out l-pad-5"></i>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- / Profile settings -->
        </ul>
        <ul id="side-nav" class="side-nav nav">
            <li class="side-nav-group">
                <span class="name">Options</span>
            </li>
            <li class="active">
                <a href="./../dashboard">
                    <i class="fa fa-tachometer"></i>
                    <span class="name">Dashboard</span>
                </a>
            </li>

            <li class="@@activate-calendar">
                <a href="./../calendar">
                    <i class="fa fa-calendar-o"></i>
                    <span class="name">Calendar</span>
                </a>
            </li>

            <li class="@@activate-charts">
                <a href="widgets.html">
                    <i class="fa fa-pie-chart"></i>
                    <span class="name">Charts</span>
                </a>
            </li>

            <li class="@@activate-grids">
                <a href="grids.html">
                    <i class="fa fa-th"></i>
                    <span class="name">Prescriptions</span>
                </a>
            </li>

            <li class="@@activate-css-animate">
                <a href="css-animate.html">
                    <i class="fa fa-fighter-jet"></i>
                    <span class="name">Weather</span>
                </a>
            </li>


        </ul>
    </div>
</nav>
