<div class="panel mar-10">
                                        <div class="panel-body">
                                            <h4 class="mb-10"><strong>Health Progress</strong> Expected / Real</h4>
                                            <div style="height: 256px" class="mt-10 mb-10">
                                                <canvas id="healthChart"></canvas>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 no-h-pad">
                                                    <div class="widget bg-default">
                                                        <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                            <div id="calories-mini-chart"></div>
                                                        </div>
                                                        <div class="widget-content to-center">
                                                            <i class="fa fa-user r-mar-5"></i>
                                                            Total Calories this week
                                                            <h3 class="bold">2.048</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 no-h-pad">
                                                    <div class="widget bg-default">
                                                        <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                            <div id="sleep-mini-chart"></div>
                                                        </div>
                                                        <div class="widget-content to-center">
                                                            <i class="fa fa-dollar r-mar-5"></i>
                                                            Total Sleep this week
                                                            <h3 class="bold">120.000,00$</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4 no-h-pad">
                                                    <div class="widget bg-default">
                                                        <div class="widget-icon widget-icon-top bg-default-light to-center">
                                                            <div id="exercise-mini-chart"></div>
                                                        </div>
                                                        <div class="widget-content to-center">
                                                            <i class="fa fa-shopping-cart r-mar-5"></i>
                                                            Total Exercise this week
                                                            <h3 class="bold">128</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>