<div class="panel mar-10">
    <div class="panel-heading">
        <div class="panel-title">
            <div class="panel-title">
                <strong>Today's tasks</strong>
                <!-- <small> / You have 5 tasks</small> -->
                <small> / Top 10 tasks</small>
            </div>
        </div>
    </div>
    <div class="panel-body panel-full">
        <ul id="mini_list" class="list-group">
            <!-- <li class="list-group-item">
                <span class="label label-danger">10:00h</span>
                <label class="option no-mb">
                    <input type="checkbox" name="varcb1">
                    <span class="checkbox checkbox-thin"></span>
                    <span class="l-mar-5">
                        Partner evaluation
                    </span>
                </label>
            </li> -->
        </ul>
        <%= link_to "Show all tasks...", tasks_path , class: "btn btn-block btn-success" %>
    </div>
</div>
